<% @price_list.each do |item| %>
  <% product = item.product %>
  <div class="card mb-2 product" id="product-<%= product.id %>">
    <div class="card-block">
      <div class="d-flex align-items-stretch">
        <div class="p-2">
          <%= link_to product_path(product) do %>
            <%= image_tag product.image_url, width: 100 %>
          <% end %>
        </div>
        <div class="p-2">
          <h6><%= link_to product.name, product_path(product) %></h6>
          <span class="small">by <%= item.retailer.name %></span>
          <p class="mt-1"><%= product.description.truncate(150, separator: ' ') %></p>
        </div>
        <div class="p-2 text-right" style="min-width: 100px;">
          <h6><%= number_to_currency(item.price, precision: 2) %></h6>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= paginate @price_list %>
