<div class="card">
  <div class="card-block">
    <h6><%= fa_icon 'filter' %> Filters</h6>
    <hr/>
    <%= form_for products_path, method: :get do %>
      <%= hidden_field_tag('query', params[:query]) %>
      <%= hidden_field_tag('sort', @sort) %>
      <%= hidden_field_tag('sort_direction', @sort_direction) %>
      <div class="form-group">
        <label for="color">Color:</label>
        <select class="form-control" id="color" name="color">
          <option>All</option>
          <option>Red</option>
          <option>Gold</option>
          <option>Blue</option>
          <option>Green</option>
          <option>Pink</option>
        </select>
      </div>
      <div class="form-group">
        <label for="material">Material:</label>
        <select class="form-control" id="material" name="material">
          <option>All</option>
          <option>Wood</option>
          <option>Steel</option>
          <option>Oak</option>
          <option>Glass</option>
        </select>
      </div>
      <div class="form-group">
        <label for="material">Price:</label>
        <select class="form-control" id="material" name="material">
          <option>All</option>
          <option>Under $100</option>
          <option>$100 - $500</option>
          <option>$500 - $1000</option>
          <option>$1000 - $2500</option>
          <option>$2500 & Above</option>
        </select>
      </div>
      <div class="form-group">
        <label for="material">Availability:</label>
        <select class="form-control" id="material" name="material">
          <option>All</option>
          <option>In stock, ready to ship</option>
          <option>Expedited shipping</option>
          <% get_by_date = Date.current + 3.days %>
          <option>Get it by <%= get_by_date.strftime("%-m/%-d/%y") %></option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    <% end %>
  </div>
</div>
