<div class="card">
  <div class="card-block">
    <h6><%= fa_icon 'filter' %> Filters</h6>
    <hr/>
    <%= form_for products_path, method: :get do %>
      <%= hidden_field_tag('query', params[:query]) %>
      <%= hidden_field_tag('sort', @sort) %>
      <%= hidden_field_tag('sort_direction', @sort_direction) %>
      <div class="form-group">
        <label for="material">Category:</label>
        <select class="form-control" id="material" name="material">
          <option>All</option>
          <option>Living Room</option>
          <option>Bedroom</option>
          <option>Kitchen & Dining</option>
          <option>Office</option>
        </select>
      </div>
      <div class="form-group">
        <label for="color">Color:</label>
        <select class="form-control" id="color" name="color">
          <option>All</option>
          <option>Red</option>
          <option>Gold</option>
          <option>Blue</option>
          <option>Green</option>
          <option>Pink</option>
        </select>
      </div>
      <div class="form-group">
        <label for="material">Material:</label>
        <select class="form-control" id="material" name="material">
          <option>All</option>
          <option>Wood</option>
          <option>Steel</option>
          <option>Oak</option>
          <option>Glass</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    <% end %>
  </div>
</div>
