<% @products.in_groups_of(4) do |rows| %>
  <div class="row my-3">
    <% rows.each do |product| %>
      <% next unless product.present? %>
      <div class="col-3 product" id="product-#{product.id}">
        <div class="text-center p-2 product-box">
          <% image_path = (product.image_url) ? product.image_url : 'placeholder.png' %>
          <%= image_tag(image_path, height: '60', class: 'mt-1') %>
          <h6 class="mt-2 product-title"><%= link_to product.name, product_path(product) %></h6>
          <div>
            <%= number_to_currency(product.current_price, precision: 2) %>
            <% if product.original_price.present? %>
              <span class="small text-danger"><s><%= number_to_currency(product.original_price, precision: 2) %></s></span>
            <% end %>
          </div>
          <% if product.average_rating.present? %>
            <div>Rating: <%= product.average_rating %></div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<%= paginate @products %>
