<div class="row">
  <div class="col-5 text-center">
    <% image_path = (@product.image_url) ? @product.image_url : 'placeholder.png' %>
    <%= image_tag image_path, width: 300 %>
  </div>
  <div class="col">
    <h4 class="mb-4"><%= @product.name %></h4>
    <table class="table" id ="price-comparison">
      <tr>
        <th>Retailer</th>
        <th>Price</th>
      </tr>
      <% @product.retailer_products.order(:current_price).each_with_index do |item, index| %>
        <tr class="price">
          <td><%= item.retailer.name %></td>
          <td>
            <%= number_to_currency(item.current_price, precision: 2) %>
            <% if index.zero? %>
              <span class="badge badge-success">Best Price</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <p class="mt-3"><%= @product.description %></p>
  </div>
</div>
<%= link_to 'Back', :back, class: 'btn btn-link float-right mt-2' %>
