<div class="p-3">
  <div class="row">
    <div class="col-5 text-center">
      <% image_path = (@product.image_url) ? @product.image_url : 'placeholder.png' %>
      <%= image_tag image_path, width: 300 %>
    </div>
    <div class="col">
      <h4 id="product-title" class="mb-3"><%= @product.name %></h4>
      <h4 class="my-4">
        <%= number_to_currency(@product.current_price, precision: 2) %>
        <% if @product.original_price.present? %>
          <span class="small text-danger"><s><%= number_to_currency(@product.original_price, precision: 2) %></s></span>
        <% end %>
      </h4>
      <h5 class="my-4">Rating: <%= @product.average_rating %></h5>
      <h5 class="my-4">
        <span class="badge badge-success">In stock</span>
      </h5>
      <% if @product.manufacturer %>
        <h5 class="my-4">from: <%= @product.manufacturer %></h5>
      <% end %>
      <div class="d-inline">
        <%= link_to @product.external_url, target: "_blank" do %>
          <button type="button" class="btn btn-primary action">BUY</button>
        <% end %>
      </div>
      <div class="d-inline">
        <button type="button" class="btn btn-primary action">ADD TO SHOPPING LIST</button>
      </div>
    </div>
  </div>
  <h5 class="mt-3">Product Details</h5>
  <p class="mt-3"><%= @product.description %></p>
  <h5 class="my-3">Compare</h5>
  <table class="table table-bordered" id ="price-comparison">
    <tr>
      <th class="text-center">Sold At</th>
      <th class="text-center">Rating</th>
      <th class="text-center">Shipping + Tax</th>
      <th class="text-center">Availability/ Ship Date</th>
      <th class="text-center">Base $</th>
      <th class="text-center">Total $</th>
      <th class="text-center"></th>
    </tr>
    <% Product.with_manufacturer_sku(@product.manufacturer_sku).each do |product| %>
      <tr class="text-center">
        <td><%= product.retailer_name %></td>
        <td><%= product.average_rating %></td>
        <td></td>
        <td></td>
        <td><%= number_to_currency(product.current_price, precision: 2) %></td>
        <td><%= number_to_currency(product.original_price, precision: 2) %></td>
        <td>
          <%= link_to product.external_url, target: "_blank" do %>
            <button type="button" class="btn btn-primary">SHOP</button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= link_to 'Back', :back, class: 'float-right mt-2' %>
</div>
