<div class="row">
  <div class="col-5 text-center">
    <%= image_tag @product.image_url, width: 250 %>
  </div>
  <div class="col">
    <h4 class="mb-4"><%= @product.name %></h4>
    <table class="table" id ="price-comparison">
      <tr>
        <th>Retailer</th>
        <th>Price</th>
      </tr>
      <% @product.prices.order(:price).each_with_index do |item, index| %>
        <tr class="price">
          <td><%= item.retailer.name %></td>
          <td>
            <%= number_to_currency(item.price, precision: 2) %>
            <% if index.zero? %>
              <span class="badge badge-success">Best Price</span>
            <% end %>
          </td>
        </tr>
      <% end %>

    </table>
    <p class="mt-3"><%= @product.description %></p>
    <p><b>Dimensions (W" x H" x D"):</b> <%= "#{@product.width} x #{@product.height} x #{@product.depth}" %></p>
    <p><b>Weight(lbs):</b> <%= @product.weight %></p>
    <p><b>Material:</b>  <%= @product.material %></p>
    <p><b>Color:</b> <%= @product.color %></p>
    <p><b>Assembly Required:</b> <%= @product.assembly_required? ? 'Yes' : 'No' %></p>
  </div>
</div>
<%= link_to 'Back', :back, class: 'btn btn-link float-right mt-2' %>
